.container {
    display: grid;
    grid-template-columns: repeat(12, 40px);

}
.cell{
    height: 40px;
    font-size: 24px;
    margin: 2px;
    background: #BBBBBB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}
  